
.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-header .title{
    text-align: center;
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%);
    padding: 16px 5px 15px 5px;
    margin: 9px 10px 30px 10px;
    border-radius: 10px;
    width: 98%;
    font-size: 30px;
}

.App-header .title span {
    color: #01e201;
}